[package]
name = "onvif"
version = "0.1.0"
authors = ["Chris Bruce <chris@lumeo.com>"]
edition = "2018"
license = "MIT"

[features]
default = ["reqwest/default-tls"]
rustls = ["reqwest/rustls-tls"]

[dependencies]
schema = { version = "0.1.0", path = "../schema" }
log = "0.4.11"
xml-rs = "0.8.3"
xmltree = "0.10.2"
yaserde = { git = "https://github.com/media-io/yaserde", rev = "137af01" }
yaserde_derive = { git = "https://github.com/media-io/yaserde", rev = "137af01" }
itertools = "0.10.0"
reqwest = { version = "0.11.0", default-features = false }
digest_auth = "0.2.3"
chrono = "0.4.19"
base64 = "0.13.0"
sha1 = "0.6.0"
url = "2.2.0"
uuid = { version = "0.8.1", features = ["v4"] }
futures = "0.3.8"
async-std = { version = "1.8.0", features = ["unstable"] }
async-trait = "0.1.41"
async-recursion = "0.3.1"
num-bigint = "0.3.1"
bigdecimal = "0.2.0"
macro-utils = { git = "https://github.com/lumeohq/xsd-parser-rs", rev = "ff5b894" }
xsd-types = { git = "https://github.com/lumeohq/xsd-parser-rs", rev = "ff5b894" }
thiserror = "1.0"

[dev-dependencies]
dotenv = "0.15.0"
env_logger = "0.8.2"
structopt = "0.3.21"
tokio = { version = "1.0.1", features = ["full"] }
